.button {
  background-color: $blue;
  border: 0;
  color: $white;
  cursor: pointer;
  font-weight: 700;
  height: 60px;
  padding: 0 20px;

  @include border-radius(5px);
  @include transition(background-color, .5s);

  + .button {
    margin-left: 10px;
  }

  &:hover {
    opacity: .75;
  }
}
