.container {
  margin: 20px auto;
  max-width: 90%;
}

@media screen and (min-width: $lg) {
  .container {
    max-width: $lg;
  }
}

@media screen and (min-width: $xl) {
  .container {
    max-width: $xl;
  }
}
