._align-center {
  align-items: center;
}

._space-between {
  justify-content: space-between;
}

._inline-flex {
  display: inline-flex;
}

._flex-column {
  flex-direction: column;
}

._center {
  text-align: center;
}

._margin-b-30 {
  margin-bottom: 30px;
}

._margin-r-10 {
  margin-right: 10px;
}

._margin-t-20 {
  margin-top: 20px;
}
